<div class="central-part h-100 d-flex justify-content-center align-items-center text-center">
    <div class="mt-5">
        <h1 style="font-family: 'Italiana', sans-serif; font-size: 8vh;">Oops! Something went wrong...</h1>
        <img src="/images/bug.svg" style="height:300px">
        <h1 style="font-family: 'Italiana', sans-serif;">
            Let's go back <a href="/home">home!</a>
        </h1>
    </div>
</div>