<div class="m-3 d-flex align-items-center justify-content-center text-center" style="height:100vh;">
    <div class="wrapper p-5">
        <h1 class="mb-4">Time keeper</h1>
        <form method="POST" action="/login" autocomplete="off">
            <div class="form-group">
                <input type="text" name="username" class="input_style form-control" id="username" placeholder="Username"
                       required>
            </div>
            <div class="form-group">
                <input type="password" name="password" class="input_style form-control" id="password"
                       placeholder="Password" required>
            </div>
            <button type="submit" class="button p-2 btn btn-dark mt-3">Log In</button>
        </form>
        <p>Not on Time keeper yet? Register
            <a href="/register">here!</a>
        </p>
    </div>
</div>